* {
margin:0;
}

.container {
    display: grid;
    min-height: 100vh;
    width: 100%;
    grid-template-areas: 
    "header header header header"
    "sidebar main main main"
    "sidebar main main main"
    "sidebar main main main"
    "footer footer footer footer"
    ;

}

.header {
    background-color: burlywood;
    grid-area: header;
}

.sidebar {
    background-color: red;
    grid-area: sidebar;
}

.main {
    background-color: blueviolet;
    grid-area: main;
}

.footer {
    background-color: goldenrod;
    grid-area: footer;
}