body {
display:flex;
align-items:center;
justify-content:center;
height:98vh;
background-color:rgba(219, 214, 214, 0.822);
}

.picture{
width:420px;
height:420px;
border:42px solid black;
border-radius:50%;
background: url(enkoddo.jpg);
background-repeat: no-repeat;
background-size:500px 500px;
background-position:center;
border-color:white;
box-shadow:1.5px 1.5px 15px black , 1.5px 1.5px 15px black inset;

}