.container {
width:100vw;
height:100vh;
background-color: black;
margin:0;
display: flex;
}

body {
    margin:0;
}


.c1 {
width:33vw;
height:97vh;
background-color: green;
margin:15px;
margin-right:0px;
}
.c2 {
width:33vw;
height:97vh;
background-color: rgb(179, 169, 169);
margin:15px;
margin-left:0px;
margin-right:0px;
}
.c3 {
width:33vw;
height:97vh;
background-color: rgb(247, 115, 7);
margin:15px;
margin-left:0px;
}

* {
color:white;
}