body {
width:100%;
height:100vh;
margin:0;
display:flex;
justify-content: center;
align-content: center;
background-color:whitesmoke;
color:black;
font-family: 'Rubik', sans-serif;
}

textarea {
width:400px;
height:200px;


border:1px solid black;
}

textarea:focus {
outline:0;
}

div {
margin:auto;
}
